{% extends 'students/base.html'%}
{% block title %}Semester Courses {% endblock %}}

{% block body %}

    <h2> A list of Semester Courses</h2>
    <table class="table table-striped">
       <tr>

           <th>Code</th>
           <th>Name</th>
           <th>Description</th>
       </tr>

        {% for course in semester.course_set_all %}
        <tr>
            <td> {{course.code}}</td>
            <td>{{course.name}}</td>
            <td>{{Course.description}}</td>
        </tr>
       {% endfor %}
    </table>

{% endblock %}