{%extends "students/base.html" %}
{% block content %}
    <h3>Create Semesster</h3>
    <form method="POST">{% csrf_token %}
    <div>
        <label></label>
        <input type="text" name='' placeholder="">

    </div>
        <div>
        <label></label>
        <input type="text" name='' placeholder="">

    </div>
        <div>
        <label></label>
        <input type="text" name='' placeholder="">

    </div>

            <div>
        <label></label>
        <input type="text" name='' placeholder="">

    </div>

        
    </form>



{% endif %}
{% endblock content%}